In [1]:
import numpy as np
import pandas as pd

In [2]:
# Reading datasets
cath = pd.read_csv('/Users/aneruthmohanasundaram/Documents/VUB/2/Adavance Bioinformatics/assignment1_ss_2021/inputData/cath_info.txt',delimiter = "\t",header=None, names=["PDB_CODE", "CHAIN_CODE", "Prediction"])

dssp = pd.read_csv('/Users/aneruthmohanasundaram/Documents/VUB/2/Adavance Bioinformatics/assignment1_ss_2021/inputData/dssp_info.txt', delimiter = "\t",header=None, names=["PDB_CODE", "CHAIN_CODE", "SEQ_POS","AMMINO_ACID","Prediction"])

stride = pd.read_csv('/Users/aneruthmohanasundaram/Documents/VUB/2/Adavance Bioinformatics/assignment1_ss_2021/inputData/stride_info.txt',delimiter = "\t",header=None, names=["PDB_CODE", "CHAIN_CODE", "SEQ_POS","AMMINO_ACID","Prediction"])

In [3]:
dssp.head()

  PDB_CODE CHAIN_CODE  SEQ_POS AMMINO_ACID Prediction
0     1w0n          A       12         ILE       Coil
1     1w0n          A       13         THR       Beta
2     1w0n          A       14         LYS       Beta
3     1w0n          A       15         VAL       Beta
4     1w0n          A       16         GLU       Beta

In [8]:
dssp.join(pd.get_dummies(dssp['Prediction']))

,PDB_CODE,CHAIN_CODE,SEQ_POS,AMMINO_ACID,Prediction,Beta,Coil,Helix,Other
0,1w0n,A,12,ILE,Coil,0,1,0,0
1,1w0n,A,13,THR,Beta,1,0,0,0
2,1w0n,A,14,LYS,Beta,1,0,0,0
3,1w0n,A,15,VAL,Beta,1,0,0,0
4,1w0n,A,16,GLU,Beta,1,0,0,0
...,...,...,...,...,...,...,...,...,...
71386,1ow4,A,114,VAL,Helix,0,0,1,0
71387,1ow4,A,115,ARG,Helix,0,0,1,0
71388,1ow4,A,116,ASN,Helix,0,0,1,0
71389,1ow4,A,117,SER,Coil,0,1,0,0
71390,1ow4,A,118,TYR,Coil,0,1,0,0

In [11]:
zx = pd.get_dummies(dssp['AMMINO_ACID'])

In [12]:
zx.head()

,X,a,b,c,d,e,f,g,h,ALA,...,LEU,LYS,MET,PHE,PRO,SER,THR,TRP,TYR,VAL
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
zx.columns

Index(['  X', '  a', '  b', '  c', '  d', '  e', '  f', '  g', '  h', 'ALA',
       'ARG', 'ASN', 'ASP', 'CYS', 'GLN', 'GLU', 'GLY', 'HIS', 'ILE', 'LEU',
       'LYS', 'MET', 'PHE', 'PRO', 'SER', 'THR', 'TRP', 'TYR', 'VAL'],
      dtype='object')

In [18]:
zx['  X'].unique()

array([0, 1], dtype=uint8)